@using EMarket.Core.Application.ViewModels.User
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center mt-5">
    <div class="col-3">
        <div class="card shadow-sm">
            <div class="card-header bg-primary">
                <h5 class="text-white mt-2">Login</h5>
            </div>
            <div class="card-body">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <form method="post" asp-controller="User" asp-action="Index">
                    <div>
                        <div class="mb-3">
                            <label asp-for="Username" class="form-label"><strong>Username</strong></label>
                            <input class="form-control" asp-for="Username">
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"><strong>Password</strong></label>
                            <input class="form-control" asp-for="Password">
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary mb-3 px-4">Login</button>
                        <a class="nav-link text-dark fw-bold text-decoration-none" asp-controller="User" asp-action="Register">Don't have an account? Register now!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
